@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Source+Sans+Pro:200,300,400,600,700,900');
@import "fonts/ehealthscanner/style.css";

.font-primary {
  font-family: 'Source Sans Pro', sans-serif;
}

.font-secondary {
  font-family: 'Playfair Display', serif;
}

.font-awesome {
  font-family: 'FontAwesome';
}