/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 42px 0;

  hr {
    width: 36px;
    border-width: 4px;
    border-color: $light-1;
  }

  a {
    @extend .font-weight-semi-bold;
    font-size: 15px;
    color: $dark;
  }

  span {
    color: $dark-1;
  }
}