nav {
  background-color: black;

  .navbar-brand {
    &-center {
      @include absolute-box(0, 0, 0, 0);
    }

    &-back {
      @extend .z-index-level-1;
      position: relative;

      .fa, .small {
        font-size: 11px;
        color: $light-blue-1;
      }
    }

    img {
      @extend .center-middle-align;
      height: 50px;
    }
  }

  .navbar-toggle {
    width: 50px;
    height: 50px;
    @extend .z-index-level-1;

    .ic-hamburger {
      @extend .center-middle-align;
      font-size: 32px;
      color: $light-blue-1;
    }
  }

  .navbar-collapse .navbar-nav {
    margin: 0 -15px;
  }

  .nav > li > a:hover,
  .nav > li > a:active,
  .nav > li > a:focus {
    background: none;
    color: white;
  }
}