.result-list {
  .result-list-item {
    padding: 10px 0;
    background: white;
    border: 1px solid #e1e1e1;
    margin-top: 9px;

    .fa {
      font-size: 16px;
      width: 16px;
      text-align: center;
    }

    .money-block {
      white-space: nowrap;

      span {
        @extend .font-weight-semi-bold;
        font-size: 36px;
      }

      sub, sup {
        font-size: 12px;
        color: $dark-1;
      }

      sup {
        top: -15px;
      }
    }

    .logo-block {
      @extend .flex-center;
      height: 70px;

      img {
        max-height: 70px;
      }
    }

    .label-block {
      margin: 3px 0;

      span {
        display: inline-block;
        vertical-align: top;
      }

      .text-label {
        font-size: 13px;
        color: $dark;
      }
    }
  }

  .result-list-item.desktop {
    padding: 20px;
    display: flex;
    position: relative;
    margin-top: 15px;

    .left-block {
      margin-right: 25px;
      width: 200px;
      flex-shrink: 0;

      .money-block {
        span {
          font-size: 48px;
        }

        sub, sup {
          font-size: 14px;
        }

        sup {
          top: -20px;
        }
      }

      .buttons-block {
        display: flex;
        flex-direction: column;

        .btn {
          @extend .font-weight-semi-bold;
          width: 100%;
          height: 42px;
          font-size: 15px;
          border-width: 2px;
        }

        .btn-trans {
          border-color: $light-blue-1;

          &:hover {
            border-color: darken($light-blue-1, 12%);
          }
        }
      }
    }

    .right-block {
      display: flex;
      flex-direction: column;
      margin-right: 85px;

      > div {
        display: flex;

        > div {
          font-size: 15px;
        }
      }

      .left-child-block {
        width: 120px;
        margin-right: 10px;
        flex-shrink: 0;
      }

      .fa {
        font-size: 18px;
      }

      .logo-block img {
        width: 100%;
      }
    }

    .btn-compare {
      @include absolute-box(20px, 20px, auto, auto);
      @extend .flex-center;
      @extend .pointer;
      border: 2px solid $light-blue-2;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      font-size: 13px;
      color: $blue;
      text-align: center;
      .fa {
        font-size: 36px;
        display: none;
        width: 100%;
      }

      &:hover {
        border-color: darken($light-blue-2, 12%);
        .text {
          display: none;
        }
        .fa {
          display: inline-block;
        }
      }

      &.is-pick {
        border-color: $primary;
        background-color: $primary;
        .text {
          display: none;
        }
        .fa {
          display: inline-block;
          color: white;
        }
      }
    }
  }
}

.result-filter {
  h5 {
    margin-bottom: 20px;
  }

  .checkbox {
    margin: 15px 0;

    label {
      font-weight: normal;
    }

    span {
      font-size: 14px !important;
    }
  }

  input[type="checkbox"].checkbox + span:before {
    color: $light-blue-1;
  }

  input[type="checkbox"].checkbox:checked + span:before {
    color: $blue;
  }

  .slider-result {
    display: flex;
    align-items: center;
  }
}

.filter-modal {
  .modal-footer {
    border: 0;

    .btn {
      border-color: transparent;
      border-width: 2px;
      font-size: 13px;
      color: $dark;

      &:hover,
      &:focus,
      &:active {
        outline: none;
        background: white;
        box-shadow: none;
      }
    }

    .btn-apply {
      width: 117px;
      border-color: $red;
    }
  }
}

#filter-float-button {
  @include vendor(border-radius, 50%);
  @extend .flex-center;
  @extend .pointer;
  @extend .z-index-level-1;
  position: fixed;
  bottom: 60px;
  right: 15px;
  width: 48px;
  height: 48px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
  border: 2px solid $light-blue-1;
  background: white;

  .fa {
    font-size: 16px;
  }
}

.compare-items {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 4;
  background-color: white;
  box-shadow: 0 -2px 5px rgba(0,0,0,.5);

  .drawer {
    position: relative;

    .btn-wrap {
      @extend .horizontal-align;
      @extend .flex-center;
      bottom: 100%;
      padding: 5px;
      background-color: white;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      box-shadow: 0 -2px 5px rgba(0,0,0,.5);

      .btn-compare {
        @extend .font-weight-semi-bold;
        font-size: 15px;
      }

      span {
        font-size: 20px;
        margin-left: 12px;
      }
    }

    .drawer-body {
      display: flex;

      .item {
        @extend .flex-center;
        flex-direction: column;
        border: 1px solid $primary;
        position: relative;
        height: 100%;

        .plan-name {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 90%;
        }

        .fa-minus-circle {
          @extend .pointer;
          @include absolute-box(-8px, -8px, auto, auto);
          background-color: white;
          color: $danger;
          font-size: 18px;
        }
      }
    }

    .start-over {
      @extend .center-middle-align;
      color: $danger;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      @extend .pointer;
    }
  }
}